:root {
    --primary: #4CAF4F;
    --secondary: #4D4D4D;
    --tertiory: #263238;
    --text: #F5F7FA;
    --email: #FFFFFF;
}

.grace {
    background-color: var(--primary) !important;
    outline: none !important;
    border: none !important;
    color: white !important;
}

/* .nav{
     padding-left: 50px !important; 
     padding-right: 150px !important; 
} */
.intence {
    gap: 850px !important;
}

.lesson {
    color: #4D4D4D;
}

.color {
    color: var(--primary) !important;
}

.led {
    font-size: 15px !important;
    color: #717171 !important;
}

.client {
    color: var(--secondary);
}

.business {
    color: var(--primary) !important;

}

.iconn {
    background-color: #F5F7FA !important;
}

.lessonn {
    color: var(--tertiory) !important;
}

.foot {
    background-color: var(--tertiory) !important;
}

.text {
    color: var(--text) !important;
}

.email {
    background-color: var(--email);
}

.white {
    color: white !important;
}

.bg-custom span {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white !important;
    color: black !important;
    padding: 10px;
    border-radius: 2px;
}

.bg-custom input {
    border: 0 !important;
    border-radius: 0px !important;
}